// Fonts
$home-link-font-size: 1.2rem;
$main-font: "Open Sans", sans-serif;
$title-font: "Proza Libre", sans-serif;

// Colors
$main-color: #903;
$light-main-color: #c36;

// Transitions
$link-transition: 0.5s all;
