.custom404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        font-size: 3rem;
    }
    p {
        margin: 1rem 0;
        font-size: 1.3rem;
    }
    a {
        color: $light-main-color;
        text-decoration: underline;
        transition: $link-transition;
        &:hover {
            color: $main-color;
        }
    }
}
