.categories,
.course {
    ul {
        list-style: none;
        li {
            text-align: center;
        }
    }
    &__inner {
        padding: 1.5rem 0;
    }

    &__title {
        margin-bottom: 1rem;
    }
}
