.home {
    ul {
        list-style: none;
        li {
            text-align: center;
        }
    }
    // &__inner {
    //     padding: 1.5rem 0;
    // }

    &__title {
        border-bottom: 3px solid $border-color;
        margin-bottom: 2.2rem;
        padding-bottom: 0.4rem;
    }
}
