.ingredients {
    h4 {
        padding-left: 1rem;
    }
    ul {
        padding-left: 3rem;
        li {
            padding: 0.5rem 0;
        }
    }
    &__part {
        padding-top: 1.2rem;
    }
    padding-bottom: 1rem;
}

.instructions {
    ol {
        padding-left: 2rem;
        li {
            padding: 0.4rem 0;
            line-height: 2rem;
        }
    }
    padding-bottom: 3rem;
    border-bottom: 1px solid $border-color;
}
