.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    a {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 700;
        color: $main-color;
        transition: $link-transition;
        &:hover {
            color: $light-main-color;
        }
    }

    &__prev {
        span {
            span {
                margin-left: 0.2rem;
            }
        }
    }
    &__next {
        span {
            margin-right: 0.2rem;
        }
        text-align: right;
    }
}
