.searchbar {
    display: flex;
    align-self: stretch;

    &__form {
        display: flex;
        align-self: stretch;
        margin: 3px;
    }

    &__inputContainer {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-top: none;
        border-bottom: none;
        padding: 0.7rem 1rem;
    }

    &__input {
        border: none;
        outline: none;
        &::placeholder {
            text-transform: uppercase;
            font-size: 0.65rem;
        }
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 476px) {
    .searchbar {
        &__inputContainer {
            border: none;
        }

        &__form {
            background-color: #fff;
        }
    }
}
