@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre&display=swap");
@import "./utilities/variables";
@import "./base/globals";
@import "./layout/grid";
@import "./layout/navbar";
@import "./layout/mobileNavbar";
@import "./layout/footer";
@import "./components/searchbar";
@import "./components/sidebar";
@import "./components/pagination";
@import "./pages/about";
@import "./pages/home";
@import "./pages/search";
@import "./pages/404";
@import "./pages/post";
@import "./pages/categories";


#disqus_thread {
    width: 100%;
    margin: 20px 0;
}

.goback {
    text-align: left;
    align-self: self-start;
    cursor: pointer;
}
